<script>
    $(document).ready( () => {
        initializeDisplayCounter($("#{{containerId}}"));
    });
</script>
<div class="displayContainer" id="{{containerId}}">
    <div class="counter">
        <span class="days"></span>
        <div class="smalltext">Dayz</div>
    </div>
    <div class="counter">
        <span class="hours"></span>
        <div class="smalltext">Hourz</div>
    </div>
    <div class="counter">
        <span class="minutes"></span>
        <div class="smalltext">Minutez</div>
    </div>
    <div class="counter">
        <span class="seconds"></span>
        <div class="smalltext">Secondz</div>
    </div>
</div>
