<html>
<head>
    <script src="/dependencies/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/display.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/display.css"></link>
    <meta charset="utf-8" />
    <title>Display has {{displayType}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>